@font-face {
    font-family: 'Quart Outline';
    src: url('Quart-Outline.eot');
    src: url('Quart-Outline.eot?#iefix') format('embedded-opentype'),
        url('Quart-Outline.woff2') format('woff2'),
        url('Quart-Outline.woff') format('woff'),
        url('Quart-Outline.ttf') format('truetype'),
        url('Quart-Outline.svg#Quart-Outline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quart';
    src: url('Quart-Regular.eot');
    src: url('Quart-Regular.eot?#iefix') format('embedded-opentype'),
        url('Quart-Regular.woff2') format('woff2'),
        url('Quart-Regular.woff') format('woff'),
        url('Quart-Regular.ttf') format('truetype'),
        url('Quart-Regular.svg#Quart-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

