/* Webfont: Lorano-ExtraLight */@font-face {
    font-family: 'ExtraLight';
    src: url('Lorano-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('Lorano-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lorano-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('Lorano-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Lorano-ExtraLight.svg#Lorano-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

